@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.mono {
  font-family: var(--font-geist-mono), monospace;
}

.sans {
  font-family: var(--font-geist-sans), Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
